:host {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80vw;
    height: 90vh;
}

#blogContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}